@model IEnumerable<BrookBallersWebApp.Models.Team>

@{
    ViewData["Title"] = "Index";
}




    <h2>League Table</h2>

    <table class="table">
        <thead>
            <tr class="table-text">
                <th>
                    @Html.DisplayNameFor(model => model.TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.D)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.L)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PTS)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-text">
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.W)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.D)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PTS)
                    </td>
                </tr>
            }
        </tbody>
    </table>



