@model BrookBallersWebApp.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TGA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TGA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Red)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Red)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
