@model IEnumerable<BrookBallersWebApp.Models.Player>
    @{
        ViewData["Title"] = "GetTopScorers";
    }


    <style>
        .body {
            background: url('https://www.dreamleagues.co.uk/content/images/backdrops/banner-min.jpg') no-repeat center center fixed;
            background-size: cover;
            background-attachment: fixed;
            color: white;
        }

        .table-text {
            color: white;
        }

        h2 {
            margin-bottom: 30px;
            text-align: center;
        }



    </style>



    <body class="body">
        <h2>Top Scorers</h2>

        <table class="table">
            <thead>
                <tr class="table-text">
                    <th >
                        @Html.DisplayNameFor(model => model.PlayerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team.TeamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Goals)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apps)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-text">
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Goals)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apps)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </body>

    