@model IEnumerable<BrookBallersWebApp.Models.Player>

@{
    ViewData["Title"] = "Index";
}

   <head>
     <link href="~/css/searchinput.css" rel="stylesheet" type="text/css" />
   </head>


<h2>All Players</h2>

<div class=div1>
    @using (Html.BeginForm("Index", "Players", FormMethod.Get))
    {
        @Html.TextBox("input", "", new { placeholder = "Name" });
    }

</div>

<div class="div2">

    <table class="table">
        <thead>
            <tr class="table-text">
                <th>
                    @Html.DisplayNameFor(model => model.PlayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goals)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assists)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apps)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Red)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TGA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.TeamName)
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:white">
                        No Player(s) Found
                    </td>
                </tr>
            }


            else
            {

                @foreach (var item in Model)
                {
                    <tr class="table-text">
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Foot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Goals)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assists)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apps)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Yel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Red)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TGA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team.TeamName)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>