@model IEnumerable<BrookBallersWebApp.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .body {
        background: url('https://www.dreamleagues.co.uk/content/images/backdrops/banner-min.jpg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }

    .table-text {
        color: white
    }

    h2 {
        text-align: center;
    }

    .tile {
        list-style-type: none;
        margin-top: 1vh;
    }

   .tile li {
     display: inline-block;
   }

    .add-player {
        margin-left: 55.6vw;
    }

    .search-name {
        
        margin-left:-3vw;
        
    }
</style>



<body class="body">

    <h2>All Players</h2>

    <ul class="tile">
        <li class="search-name">
            @using (Html.BeginForm("Index", "Players", FormMethod.Get))
             {
                @Html.TextBox("input")<input type="submit" value="Search"/>
             }
        </li>
        <li>
            <p class="add-player">
                <a asp-action="Create">Add Player</a>
            </p>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr class="table-text">
                <th>
                    @Html.DisplayNameFor(model => model.PlayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goals)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assists)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apps)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Red)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TContributions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.TeamName)
                </th>
            </tr>
        </thead>
        <tbody>


            @if (Model.Count() == 0)
             {
                <tr>
                    <td colspan="3" style="color:black">
                        No Players Found
                    </td>
                </tr>
             }

            else
            {

               @foreach (var item in Model) 
                { 
                    <tr class="table-text">
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Foot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Goals)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assists)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apps)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Yel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Red)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TContributions)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team.TeamName)
                        </td>
                    </tr>
                }
        }
        </tbody>
    </table>

</body>

